<clr-vertical-nav class="clr-vertical-nav has-nav-groups has-icons">
  <a role="listitem" class="nav-link" href="inventory/dashboard">
    <clr-icon shape="dashboard" class="nav-icon"></clr-icon>
    <span class="nav-text"> Dashboard </span></a>
  <a role="listitem" class="nav-link active" href="inventory/products">
    <clr-icon shape="grid-view" class="nav-icon"></clr-icon>
    <span class="nav-text"> Products </span></a>
  <a role="listitem" routerlink="get-started" routerlinkactive="active" class="nav-link" href="/documentation/get-started">
    <clr-icon shape="shopping-cart" class="nav-icon"></clr-icon>
    <span class="nav-text"> Customer sales </span></a>
  <a role="listitem" routerlink="get-started" routerlinkactive="active" class="nav-link" href="/documentation/get-started">
    <clr-icon shape="store" class="nav-icon"></clr-icon>
    <span class="nav-text"> Supplier purchases </span></a>
  <a role="listitem" routerlink="get-started" routerlinkactive="active" class="nav-link" href="/documentation/get-started">
    <clr-icon shape="bar-code" class="nav-icon"></clr-icon>
    <span class="nav-text"> Stocks </span></a>
  <a role="listitem" routerlink="get-started" routerlinkactive="active" class="nav-link" href="/documentation/get-started">
    <clr-icon shape="store" class="nav-icon"></clr-icon>
    <span class="nav-text"> Sites/Stores</span></a>
  <a role="listitem" routerlink="get-started" routerlinkactive="active" class="nav-link" href="/documentation/get-started">
    <clr-icon shape="employee-group" class="nav-icon"></clr-icon>
    <span class="nav-text"> Staff </span></a>
  <a role="listitem" routerlink="get-started" routerlinkactive="active" class="nav-link" href="/documentation/get-started">
    <clr-icon shape="file-group" class="nav-icon"></clr-icon>
    <span class="nav-text"> Reports </span></a>
  <a role="listitem" routerlink="get-started" routerlinkactive="active" class="nav-link" href="/documentation/get-started">
    <clr-icon shape="tag" class="nav-icon"></clr-icon>
    <span class="nav-text"> Categories & tags </span></a>
</clr-vertical-nav>
