<!--ngx-barcode [bc-value]="'t'" bc-format="CODE39"></ngx-barcode-->
<div class="clr-row clr-justify-content-between">
  <button class="btn btn-outline btn-sm" style="margin-left: 15px;" (click)="addProduct()">Add Product</button>
  <div style="margin-right: 10px;">
    <span style="align-self: center; padding-right: 12px;">View :</span>
    <button class="btn btn-icon" [ngClass]="isGridView ? 'btn-link' : 'btn-primary'" (click)="isGridView = !isGridView">
      <clr-icon shape="table"></clr-icon>
    </button>
    <button class="btn btn-icon" [ngClass]="isGridView ? 'btn-primary' : 'btn-link'" (click)="isGridView = !isGridView">
      <clr-icon shape="grid-view"></clr-icon>
    </button>
  </div>
</div>
<div style="height: 100%">
  <clr-datagrid *ngIf="!isGridView; else gridView">
    <clr-dg-column clrDgField="name">Name</clr-dg-column>
    <clr-dg-column>Type</clr-dg-column>
    <clr-dg-column>Quantity</clr-dg-column>
    <clr-dg-column>Expiration Date</clr-dg-column>
    <clr-dg-column>Active</clr-dg-column>
    <clr-dg-column style="width: 5px !important;"></clr-dg-column>
    <clr-dg-row *clrDgItems="let product of products$ | async; trackBy trackById" [clrDgItem]="product">
      <clr-dg-cell>
        <img
          src="https://clarity.design/assets/images/documentation/cards/placeholder_60x60.png" alt="no-image">
        {{product.name}}
      </clr-dg-cell>
      <clr-dg-cell>
        <clr-icon [attr.shape]="product.type.icon"></clr-icon>
        {{product.type.name}}
      </clr-dg-cell>
      <clr-dg-cell>
        <span [ngClass]="{'label label-danger': !product.quantity || product.quantity == 0}">
            {{!!product.quantity && product.quantity != 0 ? product.quantity : 'Out of stock'}}
        </span>
      </clr-dg-cell>
      <clr-dg-cell>{{product.expirationDate}}</clr-dg-cell>
      <clr-dg-cell>
        <span class="label" [ngClass]="{'label-success': product.active, 'label-danger': !product.active}">
          {{product.active ? 'Active' : 'Inactive'}}
        </span>
      </clr-dg-cell>
      <clr-dg-cell style="width: 5px !important;">
        <clr-icon shape="ellipsis-horizontal"></clr-icon>
        <!--clr-dg-action-overflow>
          <button class="action-item" (click)="onEdit(product)">Edit</button>
          <button class="action-item" (click)="onDelete(product)">Delete</button>
        </clr-dg-action-overflow-->
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">Products
          per page
        </clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} products
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>
<ng-template #gridView>
  <div class="clr-row">
    <div class="clr-col-lg-3 clr-col-12" *ngFor="let product of products$ | async; trackBy trackById">
      <div (click)="onDelete(product)" class="card clickable">
        <div class="card-img">
          <img
            src="https://clarity.design/assets/images/documentation/cards/placeholder_60x60.png" alt="no-image">
          <clr-icon shape="ellipsis-horizontal" (click)="onEdit(product); $event.stopPropagation()" class="clr-icon-lg"
                    style="position: absolute; top: 10px; right: 10px;    width: 16px;
    height: 16px;"></clr-icon>
        </div>
        <div class="card-block">
          <p class="card-title" style="color: #00648f;">
            {{product.type.name}}
          </p>
          <p class="card-text">
            {{product.name}}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-delete-product-modal
  *ngIf="delete"
  [product]="productToBeDeleted"
  (cancel)="handleCancel()"
  (confirm)="confirmDelete()"
>
</app-delete-product-modal>

<app-add-product
  *ngIf="productOpen"
  [product]="selectedProduct"
  (finish)="handleFinish($event)"
></app-add-product>
