<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <h1>Inventory Manager</h1>
    </div>
    <div class="header-nav">
      <a href="/" class="nav-link" aria-current="page">
        <span class="nav-text">Dashboard</span>
      </a>
      <a href="/" class="active nav-link"><span class="nav-text">Products</span></a>
      <a href="/" class="nav-link"><span class="nav-text">Orders</span></a>
      <a href="/" class="nav-link"><span class="nav-text">Shipments</span></a>
      <a href="/" class="nav-link"><span class="nav-text">Suppliers</span></a>
      <a href="/" class="nav-link"><span class="nav-text">Customers</span></a>
    </div>
    <div class="header-nav">
      <a href="/" class="nav-link"><span class="nav-text">Reports</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
          <clr-icon shape="settings"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="/" clrDropdownItem>About</a>
          <a href="/" clrDropdownItem>Preferences</a>
          <a href="/" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <app-products></app-products>
    </div>
  </div>
</div>
