<button class="btn btn-outline btn-sm" (click)="addProduct()">Add Product</button>
<div class="btn-group">
  <button class="btn btn-icon" [ngClass]="isGridView ? 'btn-link' : 'btn-primary'" (click)="isGridView = !isGridView">
    <clr-icon shape="table"></clr-icon>
  </button>
  <button class="btn btn-icon" [ngClass]="isGridView ? 'btn-primary' : 'btn-link'" (click)="isGridView = !isGridView">
    <clr-icon shape="grid-view"></clr-icon>
  </button>
</div>
<clr-datagrid *ngIf="!isGridView; else gridView">
  <clr-dg-column clrDgField="name">Name</clr-dg-column>
  <clr-dg-column>Type</clr-dg-column>
  <clr-dg-column>Quantity</clr-dg-column>
  <clr-dg-column>Expiration Date</clr-dg-column>
  <clr-dg-column>Active</clr-dg-column>
  <clr-dg-row *clrDgItems="let product of products$ | async; trackBy trackById" [clrDgItem]="product">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onEdit(product)">Edit</button>
      <button class="action-item" (click)="onDelete(product)">Delete</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>
      <img
        class=""
        src="https://clarity.design/assets/images/documentation/cards/placeholder_60x60.png" alt="no-image">
      {{product.name}}
    </clr-dg-cell>
    <clr-dg-cell>
      <clr-icon [attr.shape]="product.type.icon"></clr-icon>
      {{product.type.name}}
    </clr-dg-cell>
    <clr-dg-cell>
        <span [ngClass]="{'label label-danger': !product.quantity || product.quantity == 0}">
            {{!!product.quantity && product.quantity != 0 ? product.quantity : 'Out of stock'}}
        </span>
    </clr-dg-cell>
    <clr-dg-cell>{{product.expirationDate}}</clr-dg-cell>
    <clr-dg-cell>
        <span class="label" [ngClass]="{'label-success': product.active, 'label-danger': !product.active}">
          {{product.active ? 'Active' : 'Inactive'}}
        </span>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">Products
        per page
      </clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} products
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
<ng-template #gridView>
  <div class="clr-row">
    <div class="clr-col-lg-3 clr-col-12" *ngFor="let product of products$ | async; trackBy trackById">
      <a href="/" class="card clickable">
        <div class="card-img">
          <img
            src="https://clarity.design/assets/images/documentation/cards/placeholder_60x60.png" alt="no-image">
        </div>
        <div class="card-block">
          <p class="card-title" style="color: #00648f;">
            {{product.type.name}}
          </p>
          <p class="card-text">
            {{product.name}}
          </p>
        </div>
      </a>
    </div>
  </div>
</ng-template>

<app-delete-product-modal
  *ngIf="delete"
  [product]="productToBeDeleted"
  (cancel)="handleCancel()"
  (confirm)="confirmDelete()"
>
</app-delete-product-modal>

<app-add-product
  *ngIf="productOpen"
  [product]="selectedProduct"
  (finish)="handleFinish($event)"
></app-add-product>
